<h1>About This Project</h1>
<p> This web application allows users to create an account, log in, and share images. It was created as a practice project for Scott Warner in his efforts to learn HTML, CSS and Ruby on Rails. If you'd like to contact him and tell him what you think of the project, click <%= link_to "here", project_path %>.
 <p>