<h1>Contact Scott</h1>

<p> Scott Warner is an aspiring web development and SEO professional. His range of skills includes HTML, CSS and Ruby on Rails programming. He is also a GM and campaign writer for RPG games including an upcoming Wizards of the Coast project.<p>

	<p>If you ask him to make you a website or application much like this one, he would probably do that for you. You can contact him at <a href="mailto:scottbwarner@gmail.com">scottbwarner@gmail.com</a>. <p>